.pageContainer {
  width: 1200px;
  margin: 0 auto;
  padding: 40px;
  margin: 40px auto;
  background-color: #fff;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.08);
}

.pageHeader {
  border-bottom: 2px solid #dee2e6;
  margin-bottom: 1rem;
}
.tabLabel {
  font-weight: bold;
  margin-right: 1rem;
}

.tabButton {
  padding: 0.5rem 1rem;
  margin: 0 0.25rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.2s ease;
}


.tabButtonApprovedFinal {
  background-color: #2563eb;
  color: white;
}
.tabButtonApproved2nd {
  background-color: #3b82f6;
  color: white;
}
.tabButtonApproved1st {
  background-color: #3b82f6;
  color: white;
}
.tabButtonRequested {
  background-color: #60a5fa;
  color: white;
}
.tabButtonPending {
  background-color: #93c5fd;
  color: white;
}
.tabButtonRejected {
  background-color: #f3f4f6;
  color: #2563eb;
}


/* .tabButtonApprovedFinal {
  background-color: #1e40af;
  color: white;
}
.tabButtonApproved2nd {
  background-color: #1e40af;
  color: white;
}
.tabButtonApproved1st {
  background-color: #1e40af;
  color: white;
}
.tabButtonRequested {
  background-color: #1e40af;
  color: white;
}
.tabButtonPending {
  background-color: #93c5fd;
  color: white;
}
.tabButtonRejected {
  background-color: white;
  color: #666;
  border: 1px solid #ddd;
} */

.tabButtonActive {
  background-color: #6366f1;
  color: white;
}

.tabButtonInactive {
  background-color: transparent;
  color: #666;
}

.tabButton:hover {
  opacity: 0.8;
}

.contentContainer {
  padding: 1rem 0;
  line-height: 1.6;
}

.contentContainer p {
  margin-bottom: 1.5rem;
  text-align: justify;
}

.buttonContainer {
  margin-top: 1rem;
  text-align: center;
}

.applyButton {
  background-color: #6366f1;
  color: white;
  border: none;
  padding: 0.75rem 2rem;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.applyButton:hover {
  background-color: #5856eb;
}